<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%c{1}] %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="egovframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="egovframework.let" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.egovframe" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="org.springframework.web" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework.context" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework.beans" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework.jdbc" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework.transaction" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="org.apache.catalina" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.apache.coyote" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.apache.tomcat" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>