<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ComtnUserDAO">

	<select id="selectUserById" parameterType="string" resultType="egovframework.let.bbs.user.vo.ComtnUserVO">
		SELECT
			USER_ID AS userId,
			USER_NM AS userNm,
			EMAIL AS email,
			MOBILE AS mobile,
			USE_AT AS useAt,
			LOCK_AT AS lockAt,
			FRST_REGISTER_ID AS frstRegisterId,
			FRST_REGIST_PNTTM AS frstRegistPnttm,
			LAST_UPDUSR_ID AS lastUpdusrId,
			LAST_UPDT_PNTTM AS lastUpdtPnttm
		FROM COMTNUSER
		WHERE USER_ID = #{userId}
	</select>

	<select id="selectUserForLogin" parameterType="string" resultType="egovframework.let.bbs.user.vo.ComtnUserVO">
		SELECT
			USER_ID AS userId,
			USER_NM AS userNm,
			PASSWORD AS password,
			USE_AT AS useAt,
			LOCK_AT AS lockAt,
			EMAIL AS email,
			MOBILE AS mobile
		FROM COMTNUSER
		WHERE USER_ID = #{userId}
	</select>
	
</mapper>